@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.header{
    background-color: LemonChiffon;
    height: 50px;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.main-header {
  height: 75px;
  display: flex;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background: linear-gradient(334deg, #DEDA73, #EDA86A, #DAA24F);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
  
}

.logo{
  float: left;
  margin-left: 20px;
   margin-right: 0px;
  margin-top:20px;
}
.time-work{
margin-left: 30px;
margin-top: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.headli {
  margin-left: 0px;
  margin-bottom: 0px;
  height: 60px;
}
.main-header > li{
  display: inline-block;  
  position: relative;
}
.main-header > li > a{
  display: inline-block;
  padding: 20px;
  color: inherit;
  text-decoration: none; 
  transition: background-color 0.25s, color 0.15s;
}
.main-header > li > a:hover{
  color: white;
  background-color: PapayaWhip;
  box-sizing: 20px;
}
.main-header > li:hover > ul a{
  opacity: 1;
}
.main-header > li:hover > ul li{
  height: 40px;
  opacity: 1;

}
.inner_menu{
  position: absolute;
 margin-top: 0px;
  left: 0;
  list-style: none;
  padding-left: 0;
  text-align: left;
  white-space: nowrap;
  background-color: LemonChiffon;
  z-index: 100;
}
.inner_menu > li{
  height: 0;
  opacity: 0;
  transition: height 0.3s, opacity 0.4s;
}
.inner_menu > li > a{
  width: 235px;
  display: inline-block;
  padding: 10px 20px; 
  color: inherit;
  text-decoration: none; 
  height: inherit;
  overflow: hidden;
  opacity: 0;
  transition: height 0.4s, opacity 0.5s;
}
.inner_menu > li > a:hover{
  color: white;
  background-color: PapayaWhip; 
}
*{
  box-sizing: border-box;

}
ul.hr {
  margin: 0; /* Обнуляем значение отступов */
 }
 ul.hr li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
 }
 .list{
  position: relative;
  margin-top: 20px;
 }
 ul.hr{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
  ul.hr li{
  position: relative;
  list-style: none;
}
ul.hr li a{
  position: relative;
  font-size: 1em;
  text-decoration: none;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}
ul.hr li a::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px  var(--clr);
}
.bord{
  padding: 3px;
}

ul.hr li a:hover::before{
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
} 
.person{
margin-top: 14px;
border-radius: 50%;
display: flex;
border: 2px solid black;
margin-left: 10px;
width: 30px;
height: 30px;
justify-content: center;
margin-right: 10px;
}
.person svg {
margin: auto;
}
.person:hover {
  background-color:black;
  fill:aliceblue;
} 

.raz {
height:40px;
text-align: left;
margin-left: 80px;
margin-top: 20px;
font-size: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
  margin: 0;
  padding: 0;
}

.headlist{
  height: 100%;
}

.items-row {
  display:flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}
.itemm {
  background-color: SandyBrown;
  border-radius: 35px;
  margin: 2px;
  box-sizing: border-box;
  flex: 1 1 20%;
  transition: flex 0.4s ease;
  padding-top: 10px;
  text-align: center;
  font-size: 19px;
  font-family:'Trebuchet MS', Helvetica, sans-serif;
  color:Ivory;
}
.itemm:hover {
  flex: 0.000000001 0.00000001 400px;
  background-size: 100% 100%;
  background-color: Bisque;
  color:SandyBrown;
 
}
















.rekcards{
height: 17em;
margin-top: 50px;
margin-left: 10px;
display: inline-flex;
}

.card {
  margin-left: 12px;
  margin-right: 10px;
  display: inline;
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card::after {
  content: "В корзину";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #00AC7C;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 300ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}

.card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}

.card .price {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}

.card:hover::after {
  bottom: 0;
  opacity: 1;
}

.card:active {
  transform: scale(0.98);
}

.card:active::after {
  content: "Добавлено !";
  height: 3.125em;
}

.text {
  max-width: 55px;
}

.image1,.image2,.image3,.image4,.image5,.image6,.image7,.image8,.image9,.image10,.image11,.image12,.image13,.image14,.image15,.image16,.image17,.image18,
.image19,.image20,.image21{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}


.image1 {
  background: url(amur.webp) no-repeat;
}

.image2 {
  background: url(arkad.webp) no-repeat;
}
.image3 {
  background: url(baikon.jpg) no-repeat;
}
.image4 {
  background: url(bess_kom.jpg) no-repeat;
}

.image5 {
  background: url(black_gr.webp) no-repeat;
}
.image6 {
  background: url(cher_pal.jpg) no-repeat;
}
.image7 {
  background: url(gurman.webp) no-repeat;
}








.image8 {
  background: url(kish_cher.webp) no-repeat;
}

.image9 {
  background: url(kishmish.webp) no-repeat;
}
.image10 {
  background: url(kisk_bel.webp) no-repeat;
}
.image11 {
  background: url(kisk_kr.jpg) no-repeat;
}

.image12 {
  background: url(komp_gig.webp) no-repeat;
}
.image13 {
  background: url(komp_vin_el.jpg) no-repeat;
}
.image14 {
  background: url(ledi.webp) no-repeat;
}







.image15 {
  background: url(maksi_bel.webp) no-repeat;
}

.image16 {
  background: url(maksi.webp) no-repeat;
}
.image17 {
  background: url(orig.webp) no-repeat;
}
.image18 {
  background: url(preobrazhen.webp) no-repeat;
}

.image19 {
  background: url(sensa.jpg) no-repeat;
}
.image20 {
  background: url(stolet.webp) no-repeat;
}
.image21 {
  background: url(super_ekst.webp) no-repeat;
}














@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}













@media screen and (max-width: 1920px) and (min-width: 1024px) {
  .adapt_tel{
    display: none;
  }
  .adapt_plan{
    display: none;
  }

  }
  
  
  @media screen and (max-width: 1024px) and (min-width: 820px) {
    
          .adapt_plan{
            display: contents;
          }
            .comp{
            display: none;
            }
            .time-work{
            display: none;
            }
            .adapt_tel{
            display: none;
          }
        .main-header  .headli{
          display: none;
        }
        
        .hrformob{ 
          border-style: solid;
          border-color: black;
        }
        .podrek{
          display: flex;
          justify-content: center;
        }
        .linksnav{
          display: flex;
          flex-direction: column;
        }
        .navi{
          text-decoration: none;
          color: whitesmoke;
          margin-bottom: 10px;
          margin-left: 20px;
          } 
        
   }

   
   @media screen and (max-width: 820px) and (min-width: 360px) {
    .comp{
      display: none;
    }
    .adapt_plan{
      display: none;
    }
    .adapt_tel{
      display: contents;
    }
  .logo {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 10px;
    width: 71px;
    height: 13px;
  }
  .top{
    display: flex;
    justify-content: center;
  }
  
  .time-work{
  display: none;
  }
  
  .kat{
    display: none;
  }
  
  .hrformob{
    border-style: solid;
    border-color: black;
  }
  
  
  }













